---
BasedOnStyle: Google
AlignConsecutiveMacros: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
AccessModifierOffset: -8
IndentWidth: '8'
PointerAlignment: Left
TabWidth: '4'
UseTab: Always

...
